.box {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 5px;
  text-align: left;
}

.alignRight {
  text-align: right;
}

.cellWider {
  flex: 3;
}

.progress {
  background: #2066d2;
  height: 18px;
}
