.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderBoxes {
  display: flex;
  margin: 0 -36px;
  gap: 17px;
}
