.wrapper {
  display: flex;
  align-items: center;
}

.currentMonthYear {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  width: 321px;
  height: 37px;
}

.navButton {
  background: #26262c;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 9px;
}
